In [1]:
import pandas as pd
from ddf_utils.factory import ilo

In [146]:
md = ilo.load_metadata()

In [4]:
md['freq.label'].unique()

array(['Annual', 'Monthly', 'Quarterly'], dtype=object)

In [15]:
indicators = md[md['freq'] == 'A']['id'].values

In [16]:
ilo.bulk_download('../source/', indicators)

In [28]:
i = indicators[12]
i

'EMP_2EMP_SEX_OCU_NB_A'

In [148]:
md = md.set_index('id')

In [35]:
md.loc[i]['indicator.label']

'Employment by sex and occupation -- ILO modelled estimates, Nov. 2017 (thousands)'

In [29]:
df = pd.read_csv(f'../source/{i}.csv.gz')

In [33]:
df[(df.sex == 'SEX_T') & (df.time == 1991) & (df.ref_area == 'AFG')]

,collection,ref_area,indicator,source,sex,classif1,time,obs_value
0,ILOEST,AFG,EMP_2EMP_SEX_OCU_NB,XA:2198,SEX_T,OCU_SKILL_TOTAL,1991,3062.013
1,ILOEST,AFG,EMP_2EMP_SEX_OCU_NB,XA:2198,SEX_T,OCU_SKILL_L3-4,1991,107.036
2,ILOEST,AFG,EMP_2EMP_SEX_OCU_NB,XA:2198,SEX_T,OCU_SKILL_L2,1991,2555.237
3,ILOEST,AFG,EMP_2EMP_SEX_OCU_NB,XA:2198,SEX_T,OCU_SKILL_L1,1991,399.740

In [43]:
sets = set()

for i in indicators:
    df = next(pd.read_csv(f'../source/{i}.csv.gz', chunksize=1))
    for c in df.columns:
        sets.add(c)

In [44]:
sets

{'classif1',
 'classif2',
 'collection',
 'indicator',
 'note_classif',
 'note_indicator',
 'note_source',
 'obs_status',
 'obs_value',
 'ref_area',
 'sex',
 'source',
 'time'}

In [45]:
colsToServe = ['indicator', 'ref_area', 'sex', 'classif1', 'classif2', 'time', 'obs_value']

In [46]:
dfs = {}

In [50]:
for i in indicators:
    print(i)
    df = pd.read_csv(f'../source/{i}.csv.gz')
    cts = colsToServe.copy()
    for c in colsToServe:
        if c not in df.columns:
            cts.remove(c)
    try:
        dfs[i] = df[cts]
    except KeyError:
        print(cts)
        print(df.columns.tolist())
        raise

GDP_211P_NOC_NB_A
GDP_205U_NOC_NB_A
POP_2LDR_NOC_RT_A
POP_2POP_SEX_AGE_NB_A
POP_2POP_SEX_AGE_GEO_NB_A
POP_2POP_GEO_NB_A
EAP_2EAP_SEX_AGE_NB_A
EAP_2MDN_SEX_NB_A
EAP_2WAP_SEX_AGE_RT_A

/Users/semio/.pyenv/versions/3.6.2/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

EMP_2EMP_SEX_AGE_NB_A
EMP_2EMP_SEX_STE_NB_A
EMP_2EMP_SEX_ECO_NB_A
EMP_2EMP_SEX_OCU_NB_A
EMP_2EMP_SEX_AGE_CLA_NB_A
EMP_2EMP_SEX_STE_DT_A
EMP_2EMP_SEX_ECO_DT_A
EMP_2EMP_SEX_OCU_DT_A
EMP_2EMP_SEX_AGE_CLA_DT_A

/Users/semio/.pyenv/versions/3.6.2/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

EMP_2WAP_SEX_AGE_RT_A
UNE_2UNE_SEX_AGE_NB_A
UNE_2EAP_SEX_AGE_RT_A
EIP_2EIP_SEX_AGE_NB_A
EIP_2WAP_SEX_AGE_RT_A
EAR_MREE_NOC_GR_A
SDG_0111_SEX_AGE_RT_A
SDG_0131_SEX_SOC_RT_A
SDG_0552_OCU_RT_A
SDG_0821_NOC_RT_A
SDG_A831_SEX_RT_A
SDG_B831_SEX_RT_A
SDG_0851_SEX_OCU_NB_A
SDG_0852_SEX_AGE_RT_A
SDG_0852_SEX_DSB_RT_A
SDG_0861_SEX_RT_A
SDG_0871_SEX_AGE_NB_A
SDG_0871_SEX_AGE_RT_A
SDG_N881_SEX_MIG_RT_A
SDG_F881_SEX_MIG_RT_A
SDG_0922_NOC_RT_A
SDG_1041_NOC_RT_A
CPI_NCYR_COI_RT_A
CPI_NWGT_COI_DT_A
IFL_4IEM_SEX_ECO_IFL_RT_A
POP_XWAP_SEX_AGE_NB_A
POP_XWAP_SEX_AGE_EDU_NB_A
POP_XWAP_SEX_AGE_GEO_NB_A
EAP_TEAP_SEX_AGE_NB_A
EAP_TEAP_SEX_AGE_EDU_NB_A
EAP_TEAP_SEX_AGE_GEO_NB_A
EAP_TEAP_SEX_DSB_NB_A
EAP_TEAP_SEX_AGE_EDU_DT_A
EAP_DWAP_SEX_AGE_RT_A
EAP_DWAP_SEX_AGE_EDU_RT_A
EAP_DWAP_SEX_AGE_GEO_RT_A
EMP_TEMP_SEX_AGE_NB_A
EMP_TEMP_SEX_AGE_EDU_NB_A
EMP_TEMP_SEX_DSB_NB_A
EMP_TEMP_SEX_AGE_GEO_NB_A
EMP_TEMP_SEX_STE_NB_A
EMP_TEMP_SEX_INS_NB_A
EMP_TEMP_SEX_ECO_NB_A
EMP_TEMP_SEX_ECO2_NB_A
EMP_TEMP_SEX_OCU_NB_A
EMP_TEMP_SEX_OCU2_NB_A
EMP_TEMP_SEX_HOW_NB_A
EMP_TEMP_ECO_OCU_NB_A
EMP_TEMP_SEX_AGE_EDU_DT_A
EMP_TEMP_SEX_ECO_DT_A
EMP_TEMP_SEX_OCU_DT_A
EMP_TEMP_SEX_STE_DT_A
EMP_TEMP_SEX_HOW_DT_A
EMP_XFMG_NOC_RT_A
EMP_DWAP_SEX_AGE_RT_A
EMP_DWAP_SEX_AGE_GEO_RT_A
EMP_PTER_SEX_RT_A
TRU_TTRU_SEX_AGE_NB_A
TRU_DEMP_SEX_AGE_RT_A
EES_TEES_SEX_ECO_NB_A
EES_TEES_SEX_OCU_NB_A
UNE_TUNE_SEX_AGE_NB_A

/Users/semio/.pyenv/versions/3.6.2/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

UNE_TUNE_SEX_DSB_NB_A
UNE_TUNE_SEX_AGE_EDU_NB_A
UNE_TUNE_SEX_AGE_GEO_NB_A
UNE_TUNE_SEX_AGE_DUR_NB_A
UNE_TUNE_SEX_ECO_NB_A
UNE_TUNE_SEX_OCU_NB_A
UNE_TUNE_SEX_AGE_EDU_DT_A
UNE_TUNE_SEX_AGE_DUR_DT_A
UNE_DEAP_SEX_AGE_RT_A
UNE_DEAP_SEX_DSB_RT_A
UNE_DEAP_SEX_AGE_EDU_RT_A
UNE_DEAP_SEX_AGE_GEO_RT_A
EIP_WPLF_SEX_AGE_NB_A
LUU_XLU2_SEX_AGE_RT_A
LUU_XLU3_SEX_AGE_RT_A
LUU_XLU4_SEX_AGE_RT_A
EIP_TEIP_SEX_AGE_NB_A
EIP_WDIS_SEX_AGE_NB_A
EIP_NEET_SEX_NB_A
EIP_NEET_SEX_RT_A
HOW_TEMP_SEX_ECO_NB_A
HOW_TEMP_SEX_OCU_NB_A
HOW_XEES_SEX_ECO_NB_A
HOW_XEES_SEX_OCU_NB_A
EAR_4MTH_SEX_ECO_CUR_NB_A
EAR_XEES_SEX_ECO_NB_A
EAR_4MTH_SEX_OCU_CUR_NB_A
EAR_XEES_SEX_OCU_NB_A
EAR_4MMN_CUR_NB_A
EAR_INEE_NOC_NB_A
EAR_HEES_SEX_OCU_NB_A
EAR_4HRL_SEX_OCU_CUR_NB_A
EAR_XTLP_SEX_RT_A
EAR_XFLS_NOC_RT_A
EAR_GGAP_OCU_RT_A
CPI_ACPI_COI_RT_A
LAC_XEES_ECO_NB_A
LAC_4HRL_ECO_CUR_NB_A
INJ_DAYS_SEX_MIG_NB_A
INJ_DAYS_ECO_NB_A
INJ_FATL_SEX_MIG_NB_A
INJ_FATL_ECO_NB_A
INJ_NFTL_SEX_MIG_NB_A
INJ_NFTL_ECO_NB_A
INJ_NFTL_INJ_ECO_NB_A
INJ_NFTL_SEX_INJ_MIG_NB_A
INJ_FATL_SEX_MIG_RT_A
INJ_FATL_ECO_RT_A
INJ_NFTL_SEX_MIG_RT_A
INJ_NFTL_ECO_RT_A
STR_TSTR_ECO_NB_A
STR_DAYS_ECO_NB_A
STR_WORK_ECO_NB_A
STR_DAYS_ECO_RT_A
LAI_WOPL_NOC_NB_A
LAI_INSP_SEX_NB_A
LAI_VIST_NOC_NB_A
LAI_INDE_NOC_RT_A
LAI_VDIN_NOC_RT_A
LAP_DGVA_NOC_RT_A
IFL_XIEM_SEX_ECO_IFL_NB_A
IFL_XIEM_SEX_ECO_IFL_RT_A
IFL_4IEM_SEX_ECO_IFL_NB_A
PSE_TPSE_GOV_NB_A
ILR_TUMT_NOC_RT_A
ILR_CBCT_NOC_RT_A
MST_TPOP_SEX_MIG_NB_A
MST_XWAP_SEX_EDU_MIG_NB_A
MST_XWAP_SEX_MIG_NB_A
MNA_TPOP_SEX_COU_NB_A
MFL_XWAP_SEX_EDU_NB_A
MFL_TPOP_SEX_COU_NB_A
MST_TPOP_COU_NB_A
MNA_OPOP_SEX_COU_NB_A
MST_TEAP_SEX_AGE_MIG_NB_A
MST_TEMP_SEX_AGE_MIG_NB_A
MST_TEMP_SEX_STE_MIG_NB_A
MST_TEMP_ECO_MIG_NB_A
MST_TEMP_OCU_MIG_NB_A
MFL_TEMP_ECO_NB_A
MFL_TEMP_OCU_NB_A
MST_MEMP_COU_NB_A
MNA_OEMP_SEX_COU_NB_A
MNA_OEMP_SEX_EDU_NB_A
MNA_OEMP_ECO_NB_A
MNA_OEMP_OCU_NB_A
MST_EARA_SEX_MIG_NB_A
MST_EARB_SEX_MIG_NB_A
EES_LT30_NOC_RT_A
POP_2FLF_NOC_RT_A
POP_2MLF_NOC_RT_A
POP_2TLF_NOC_RT_A
UNE_2EAP_NOC_RT_A
UNE_2YAP_NOC_RT_A
EMP_2EER_NOC_RT_A
EMP_2EES_NOC_RT_A
EMP_2OAW_NOC_RT_A
EMP_2CFW_NOC_RT_A
EMP_2AGR_NOC_RT_A
EMP_2IND_NOC_RT_A
EMP_2SRV_NOC_RT_A
EAP_2WAP_NOC_RT_A
EAP_2WAF_NOC_RT_A
EAP_2WAM_NOC_RT_A
POP_AEDA_NOC_RT_A
EMP_2WAP_NOC_RT_A
EMP_2MEP_NOC_RT_A
EMP_2WEP_NOC_RT_A
EMP_2YEP_NOC_RT_A
EAP_DWAP_NOC_RT_A
EAP_DWAM_NOC_RT_A
EAP_DWAF_NOC_RT_A
EAP_DYAP_NOC_RT_A
EAP_DYAM_NOC_RT_A
EAP_DYAF_NOC_RT_A
UNE_2URM_NOC_RT_A
UNE_2URW_NOC_RT_A
EAR_4MNP_NOC_NB_A
EAR_4HPT_NOC_NB_A
EAR_4HPM_NOC_NB_A
EAR_4HPW_NOC_NB_A
EAR_4MPT_NOC_NB_A
EAR_4MPM_NOC_NB_A
EAR_4MPW_NOC_NB_A
LAC_4HPT_NOC_NB_A
EMP_DWAP_NOC_RT_A
EMP_DWAM_NOC_RT_A
EMP_DWAF_NOC_RT_A
EMP_TAGR_NOC_RT_A
EMP_TCFW_NOC_RT_A
EMP_TEER_NOC_RT_A
EMP_TIND_NOC_RT_A
EMP_TOAW_NOC_RT_A
EMP_TSRV_NOC_RT_A
EMP_FAGR_NOC_RT_A
EMP_FCFW_NOC_RT_A
EMP_FEER_NOC_RT_A
EMP_FIND_NOC_RT_A
EMP_FOAW_NOC_RT_A
EMP_FSRV_NOC_RT_A
EMP_MCFW_NOC_RT_A
EMP_MEER_NOC_RT_A
EMP_MOAW_NOC_RT_A
TRU_DEMP_NOC_RT_A
TRU_DEMM_NOC_RT_A
TRU_DEMF_NOC_RT_A
EES_3048_NOC_RT_A
EES_TG48_NOC_RT_A
EES_TNAG_NOC_RT_A
EES_FNAG_NOC_RT_A
EES_MG48_NOC_RT_A
EES_FG48_NOC_RT_A
EES_MNAG_NOC_RT_A
UNE_DEAP_NOC_RT_A
UNE_DYAP_NOC_RT_A
UNE_DEAM_NOC_RT_A
UNE_DYAM_NOC_RT_A
UNE_DEAF_NOC_RT_A
UNE_DYAF_NOC_RT_A
POV_PLT1_NOC_RT_A
POV_P2T3_NOC_RT_A
POV_P3T5_NOC_RT_A
UNE_EDAD_NOC_RT_A
UNE_EDBS_NOC_RT_A
UNE_EDIN_NOC_RT_A
UNE_LGTD_NOC_RT_A
EIP_TNEE_NOC_RT_A
EIP_MNEE_NOC_RT_A
EIP_FNEE_NOC_RT_A
HOW_TEMP_NOC_NB_A
EAR_TEAR_NOC_NB_A
EAR_XMFG_NOC_NB_A
EAR_MEAR_NOC_NB_A
EAR_FEAR_NOC_NB_A
EAR_GGAP_NOC_RT_A
LAC_TLAC_NOC_NB_A
LAC_XMFG_NOC_NB_A
SOC_SOCT_NOC_RT_A
SOC_HEXT_NOC_RT_A
SOC_HEXR_NOC_RT_A
SOC_HEXU_NOC_RT_A
SOC_PEXT_NOC_RT_A
SOC_PEXN_NOC_RT_A
SOC_EBEO_NOC_RT_A
SOC_EBEW_NOC_RT_A
SOC_EBEC_NOC_RT_A
SOC_WBET_NOC_RT_A
SOC_PPNT_NOC_RT_A
SOC_CEAT_NOC_RT_A
SOC_CWAT_NOC_RT_A
INJ_IRNF_NOC_RT_A
INJ_TLPI_NOC_NB_A
INJ_IRFA_NOC_RT_A
STR_DAYS_NOC_RT_A
POV_DEMM_NOC_RT_A
POV_DEMF_NOC_RT_A
POV_DEMP_NOC_RT_A
EES_XTMP_SEX_RT_A
SOC_HEXP_INS_RT_A
SOC_SOCP_SEX_SOC_RT_A
SOC_HCOV_NOC_RT_A
SOC_NPHC_NOC_RT_A
SOC_EGGE_NOC_RT_A
SOC_PSPE_EXP_RT_A
SOC_EBEN_AGE_RT_A
SOC_WBEN_GSA_RT_A
SOC_PPEN_SEX_TYP_RT_A
SOC_CEAP_SEX_RT_A
SOC_CWAP_SEX_RT_A
SOC_HCOV_GEO_RT_A
SOC_OOPE_GEO_RT_A
SOC_MMPB_GEO_RT_A
SOC_CGFR_GEO_RT_A
SOC_CGHP_GEO_RT_A
SOC_PPEN_SEX_GEO_RT_A
SOC_CEAP_SEX_GEO_RT_A
POP_3WAP_SEX_AGE_GEO_NB_A
POP_3WAP_SEX_AGE_EDU_NB_A
POP_3WAP_SEX_AGE_STU_NB_A
POP_3WAP_SEX_AGE_LMS_NB_A
EAP_3EAP_SEX_AGE_GEO_NB_A
EAP_3EAP_SEX_AGE_EDU_NB_A
EAP_3EAP_SEX_AGE_STU_NB_A
EAP_3WAP_SEX_AGE_GEO_RT_A
EAP_3WAP_SEX_AGE_EDU_RT_A
EAP_3WAP_SEX_AGE_STU_RT_A
EMP_3EMP_SEX_AGE_GEO_NB_A
EMP_3EMP_SEX_AGE_EDU_NB_A
EMP_3EMP_SEX_AGE_STU_NB_A
EMP_3EMP_SEX_AGE_STE_NB_A
EMP_3EMP_SEX_AGE_ECO_NB_A
EMP_3EMP_SEX_AGE_OCU_NB_A
EMP_3EMP_SEX_AGE_HOW_NB_A
EMP_3EMP_SEX_AGE_JOB_NB_A
EMP_3WAP_SEX_AGE_GEO_RT_A
EMP_3WAP_SEX_AGE_EDU_RT_A
EMP_3WAP_SEX_AGE_STU_RT_A
TRU_3TRU_SEX_AGE_GEO_NB_A
EES_3EES_SEX_AGE_JOB_NB_A
UNE_3UNE_SEX_AGE_GEO_NB_A
UNE_3UNE_SEX_AGE_EDU_NB_A
UNE_3UNE_SEX_AGE_STU_NB_A
UNE_3UNE_SEX_AGE_CAT_NB_A
UNE_3UNE_SEX_AGE_DUR_NB_A
UNE_3ELU_SEX_AGE_GEO_NB_A
UNE_3EAP_SEX_AGE_GEO_RT_A
UNE_3EAP_SEX_AGE_EDU_RT_A
UNE_3EAP_SEX_AGE_STU_RT_A
UNE_3WAP_SEX_AGE_STU_RT_A
UNE_3ELU_SEX_AGE_GEO_RT_A
EIP_3EIP_SEX_AGE_GEO_NB_A
EIP_3EIP_SEX_AGE_EDU_NB_A
EIP_3EIP_SEX_AGE_STU_NB_A
EIP_3EET_SEX_AGE_GEO_NB_A
EIP_3DIS_SEX_AGE_GEO_NB_A
EIP_3WAP_SEX_AGE_GEO_RT_A
EIP_3WAP_SEX_AGE_EDU_RT_A
EIP_3WAP_SEX_AGE_STU_RT_A
EIP_3EET_SEX_AGE_GEO_RT_A
EIP_3DIS_SEX_AGE_GEO_RT_A

In [51]:
len(dfs)

340

In [55]:
for df in dfs.values():
    assert len(df.indicator.unique()) == 1

In [111]:
for df in dfs.values():
    df_ = df.copy()
    
    iName = df_.indicator.unique()[0].lower()
    
    df_ = df_.drop('indicator', axis=1).rename(columns={'obs_value': iName})
    
    by = df_.columns.tolist()
    by.remove(iName)
    
    for c in by:
        if c in ['ref_area', 'sex', 'classif1', 'classif2']:
            df_[c] = df_[c].str.lower()
    
    fn = 'ddf--datapoints--' + iName + '--by--' + '--'.join(by) + '.csv'
    
    df_.dropna(how='any').to_csv(f'../../{fn}', index=False)

In [63]:
classif1 = ilo.load_metadata('classif1')
classif2 = ilo.load_metadata('classif2')

ref_area = ilo.load_metadata('ref_area')

sex = ilo.load_metadata('sex')

In [39]:
classif1.head()

,classif1,classif1.label,classif1.sort
0,CUR_TYPE_LCU,Currency: Local currency,1
1,CUR_TYPE_PPP2011,Currency: Constant 2011 PPP $,2
2,CUR_TYPE_USD,Currency: U.S. dollars,3
3,DSB_STATUS_TOTAL,Disability status: Total,4
4,DSB_STATUS_DIS,Disability status: Persons with disability,5

In [64]:
classif2.head()

,classif2,classif2.label,classif2.sort
0,CUR_TYPE_LCU,Currency: Local currency,1
1,CUR_TYPE_PPP2011,Currency: Constant 2011 PPP $,2
2,CUR_TYPE_USD,Currency: U.S. dollars,3
3,CLA_ECOCLA_TOTAL,Economic class: Total,4
4,CLA_ECOCLA_USDLT2,"Economic class: Extremely poor (<US$1.90, PPP)",5

In [66]:
ref_area.head()

  ref_area              ref_area.label   ref_area.sort
0      X01                       World               1
1      X02           World: Low income               2
2      X03  World: Lower-middle income               3
3      X04  World: Upper-middle income               4
4      X05          World: High income               5

In [149]:
md.head()

,indicator,indicator.label,freq,freq.label,size,data.start,data.end,last.update,n.records,collection,collection.label,subject,subject.label
id,,,,,,,,,,,,,
GDP_211P_NOC_NB_A,GDP_211P_NOC_NB,Output per worker (GDP constant 2011 internati...,A,Annual,75.08 KB,1991,2022,25/01/2018 09:32:40,8736,ILOEST,ILO estimates,LPY,Labour productivity
GDP_205U_NOC_NB_A,GDP_205U_NOC_NB,Output per worker (GDP constant 2010 US $) -- ...,A,Annual,73.63 KB,1991,2022,25/01/2018 09:32:40,8736,ILOEST,ILO estimates,LPY,Labour productivity
POP_2LDR_NOC_RT_A,POP_2LDR_NOC_RT,Labour dependency ratio -- ILO modelled estima...,A,Annual,85.76 KB,1991,2022,25/01/2018 09:32:40,8736,ILOEST,ILO estimates,ILOEST,ILO modelled estimates
POP_2POP_SEX_AGE_NB_A,POP_2POP_SEX_AGE_NB,Population by sex and age -- UN estimates and ...,A,Annual,8.76 MB,1990,2030,25/01/2018 09:32:38,1108107,ILOEST,ILO estimates,ILOEST,ILO modelled estimates
POP_2POP_SEX_AGE_GEO_NB_A,POP_2POP_SEX_AGE_GEO_NB,"Population by sex, age and rural / urban areas...",A,Annual,3.99 MB,1990,2015,25/01/2018 09:32:38,486486,ILOEST,ILO estimates,ILOEST,ILO modelled estimates

In [68]:
sex.head()

     sex    sex.label   sex.sort
0  SEX_T   Sex: Total          1
1  SEX_M    Sex: Male          2
2  SEX_F  Sex: Female          3

In [76]:
discreteConcepts = set()

In [77]:
sex['sex'] = sex['sex'].str.lower()
sex.columns = sex.columns.map(lambda x: x.strip().replace('.', '_'))

[discreteConcepts.add(x) for x in sex.columns]

sex.to_csv('../../ddf--entities--sex.csv', index=False)

In [110]:
sex

     sex    sex_label  sex_sort
0  sex_t   Sex: Total         1
1  sex_m    Sex: Male         2
2  sex_f  Sex: Female         3

In [78]:
discreteConcepts

{'sex', 'sex_label', 'sex_sort'}

In [81]:
ref_area['ref_area'] = ref_area['ref_area'].str.lower()
ref_area.columns = ref_area.columns.map(lambda x: x.strip().replace('.', '_'))

[discreteConcepts.add(x) for x in ref_area.columns]

ref_area.to_csv('../../ddf--entities--ref_area.csv', index=False)

In [82]:
discreteConcepts

{'ref_area', 'ref_area_label', 'ref_area_sort', 'sex', 'sex_label', 'sex_sort'}

In [84]:
classif2['classif2'] = classif2['classif2'].str.lower()
classif2.columns = classif2.columns.map(lambda x: x.strip().replace('.', '_'))

[discreteConcepts.add(x) for x in classif2.columns]

classif2.to_csv('../../ddf--entities--classif2.csv', index=False)

In [112]:
classif2

,classif2,classif2_label,classif2_sort
0,cur_type_lcu,Currency: Local currency,1
1,cur_type_ppp2011,Currency: Constant 2011 PPP $,2
2,cur_type_usd,Currency: U.S. dollars,3
3,cla_ecocla_total,Economic class: Total,4
4,cla_ecocla_usdlt2,"Economic class: Extremely poor (<US$1.90, PPP)",5
5,cla_ecocla_usdge2lt3,Economic class: Moderately poor (>=US$1.90 & <...,6
6,cla_ecocla_usdge3,"Economic class: >=US$3.10, PPP",7
7,cla_ecocla_usdge3lt5,"Economic class: Near poor (>=US$3.10 & <US$5, ...",8
8,cla_ecocla_usdge5,"Economic class: >=US$5, PPP",9
9,edu_isced11_total,ISCED-11: Total,10
10,edu_isced11_x,ISCED-11: No schooling,11
11,edu_isced11_0,ISCED-11: Early childhood education,12
12,edu_isced11_1,ISCED-11: Primary education,13
13,edu_isced11_2,ISCED-11: Lower secondary education,14
14,edu_isced11_3,ISCED-11: Upper secondary education,15
15,edu_isced11_4,ISCED-11: Post-secondary non-tertiary education,16
16,edu_isced11_5,ISCED-11: Short-cycle tertiary education,17
17,edu_isced11_6,ISCED-11: Bachelor's or equivalent level,18
18,edu_isced11_7,ISCED-11: Master's or equivalent level,19
19,edu_isced11_8,ISCED-11: Doctoral or equivalent level,20
20,edu_isced11_9,ISCED-11: Not elsewhere classified,21
21,edu_isced97_total,ISCED-97: Total,22
22,edu_isced97_x,ISCED-97: No schooling,23
23,edu_isced97_0,ISCED-97: Pre-primary education,24
24,edu_isced97_1,ISCED-97: Primary education or first stage of ...,25
25,edu_isced97_2,ISCED-97: Lower secondary or second stage of b...,26
26,edu_isced97_3,ISCED-97: Upper secondary education,27
27,edu_isced97_4,ISCED-97: Post-secondary non-tertiary education,28
28,edu_isced97_5,ISCED-97: First stage of tertiary education (n...,29
29,edu_isced97_5a,ISCED-97: First stage of tertiary education - ...,30
...,...,...,...
194,dur_details_mge3lt6,Detailed duration: 3 months to less than 6 months,195
195,dur_details_mge6lt12,Detailed duration: 6 months to less than 12 mo...,196
196,dur_details_mge12lt24,Detailed duration: 12 months to less than 24 m...,197
197,dur_details_mge24,Detailed duration: 24 months or more,198
198,dur_details_x,Detailed duration: Not elsewhere classified,199
199,dur_aggregate_total,Aggregate duration: Total,200
200,dur_aggregate_mlt6,Aggregate duration: Less than 6 months,201
201,dur_aggregate_mge6lt12,Aggregate duration: 6 months to less than 12 m...,202
202,dur_aggregate_mlt12,Aggregate duration: Less than 12 months,203
203,dur_aggregate_mge12,Aggregate duration: 12 months or more,204
204,dur_aggregate_x,Aggregate duration: Not elsewhere classified,205
205,job_contract_total,Contract type: Total,206
206,job_contract_perm,Contract type: Permanent,207
207,job_contract_temp,Contract type: Temporary,208
208,job_contract_x,Contract type: Unknown,209
209,job_time_total,Working time arrangement: Total,210
210,job_time_part,Working time arrangement: Part-time,211
211,job_time_full,Working time arrangement: Full-time,212
212,job_time_x,Working time arrangement: Unknown,213
213,mig_status_total,Status: Total,214
214,mig_status_migrant,Status: Migrants,215
215,mig_status_nonmig,Status: Non migrants,216
216,mig_status_migranteu,Status: EU Migrants,217
217,mig_status_migrantnoteu,Status: Migrants excluding EU,218
218,mig_status_x,Status: Unknown,219
219,ifl_comp_emp,Component: Total employment,220
220,ifl_comp_infemp,Component: Informal emloyment,221
221,ifl_comp_frmemp,Component: Formal employment,222
222,ifl_comp_ofs,Component: Employment outside the formal sector,223
223,ifl_comp_frmsector,Component: Employment in the formal sector,224

In [85]:
classif1['classif1'] = classif1['classif1'].str.lower()
classif1.columns = classif1.columns.map(lambda x: x.strip().replace('.', '_'))

[discreteConcepts.add(x) for x in classif1.columns]

classif1.to_csv('../../ddf--entities--classif1.csv', index=False)

In [150]:
#md = md.set_index('id')
md['indicator'] = md['indicator'].str.lower()
md.columns = md.columns.map(lambda x: x.strip().replace('.', '_'))

md = md[md.freq == 'A']  # only Annual indicators

md = md.drop(['size', 'freq', 'freq_label'], axis=1)

[discreteConcepts.add(x) for x in md.columns]

md.to_csv('../../ddf--concepts--continuous.csv', index=False)

In [134]:
#discreteConcepts.remove('freq')
#discreteConcepts.remove('freq_label')
# discreteConcepts.remove('id')

In [151]:
discreteDF = pd.DataFrame(pd.Series(list(discreteConcepts)))

In [152]:
discreteDF.columns = ['concept']

discreteDF

             concept
0        last_update
1      classif1_sort
2         collection
3                sex
4      ref_area_sort
5           ref_area
6     classif2_label
7          n_records
8         data_start
9            subject
10          sex_sort
11  collection_label
12   indicator_label
13         sex_label
14          classif1
15         indicator
16     subject_label
17     classif2_sort
18    ref_area_label
19          data_end
20          classif2
21    classif1_label

In [153]:
discreteDF['concept_label'] = discreteDF['concept'].map(lambda x: x.replace('_', ' ').title())

In [154]:
discreteDF

             concept     concept_label
0        last_update       Last Update
1      classif1_sort     Classif1 Sort
2         collection        Collection
3                sex               Sex
4      ref_area_sort     Ref Area Sort
5           ref_area          Ref Area
6     classif2_label    Classif2 Label
7          n_records         N Records
8         data_start        Data Start
9            subject           Subject
10          sex_sort          Sex Sort
11  collection_label  Collection Label
12   indicator_label   Indicator Label
13         sex_label         Sex Label
14          classif1          Classif1
15         indicator         Indicator
16     subject_label     Subject Label
17     classif2_sort     Classif2 Sort
18    ref_area_label    Ref Area Label
19          data_end          Data End
20          classif2          Classif2
21    classif1_label    Classif1 Label

In [155]:
discreteDF.loc[22] = ['concept_label', 'Concept Label']

In [156]:
discreteDF['concept_type'] = 'string'

In [157]:
discreteDF = discreteDF.set_index(['concept'])

In [158]:
discreteDF.loc[['sex', 'ref_area', 'classif1', 'classif2'], 'concept_type'] = 'entity_domain'
discreteDF.loc['time'] = ['Time', 'time']

In [159]:
discreteDF

                     concept_label   concept_type
concept
last_update            Last Update         string
classif1_sort        Classif1 Sort         string
collection              Collection         string
sex                            Sex  entity_domain
ref_area_sort        Ref Area Sort         string
ref_area                  Ref Area  entity_domain
classif2_label      Classif2 Label         string
n_records                N Records         string
data_start              Data Start         string
subject                    Subject         string
sex_sort                  Sex Sort         string
collection_label  Collection Label         string
indicator_label    Indicator Label         string
sex_label                Sex Label         string
classif1                  Classif1  entity_domain
indicator                Indicator         string
subject_label        Subject Label         string
classif2_sort        Classif2 Sort         string
ref_area_label      Ref Area Label         string
data_end                  Data End         string
classif2                  Classif2  entity_domain
classif1_label      Classif1 Label         string
concept_label        Concept Label         string
time                          Time           time

In [160]:
discreteDF.to_csv('../../ddf--concepts--discrete.csv')

In [105]:
import os

In [109]:
for f in os.listdir('../../'):
    if f.startswith('ddf--datapoints--'):
        df = pd.read_csv(f'../../{f}')
        print(f)
        for c in df.columns:
            if df[c].hasnans:
                print(c, 'has nan')

ddf--datapoints--ees_3048_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--soc_hext_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eap_dwap_sex_age_geo_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eap_dyam_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eip_wplf_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--inj_irnf_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--luu_xlu4_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--soc_cwap_sex_rt--by--ref_area--sex--time.csv
ddf--datapoints--tru_demm_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eip_3eip_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--str_work_eco_nb--by--ref_area--classif1--time.csv
ddf--datapoints--inj_nftl_eco_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eap_3eap_sex_age_edu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--sdg_1041_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_dwam_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--lap_dgva_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eap_3wap_sex_age_geo_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_temp_sex_ste_nb--by--ref_area--sex--classif1--time.csv
sex has nan
classif1 has nan
ddf--datapoints--ear_4mpw_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--inj_fatl_sex_mig_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--inj_days_sex_mig_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--gdp_205u_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--soc_pexn_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_3emp_sex_age_ocu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--mst_temp_ocu_mig_nb--by--ref_area--classif1--classif2--time.csv
ddf--datapoints--ees_mnag_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_deap_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_2urm_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--sdg_0111_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--mst_temp_sex_ste_mig_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--inj_irfa_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_temp_sex_age_edu_dt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ear_4mth_sex_eco_cur_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_2emp_sex_ste_dt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_tagr_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_3emp_sex_age_eco_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ear_xfls_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eip_3dis_sex_age_geo_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--tru_3tru_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ees_3ees_sex_age_job_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--soc_socp_sex_soc_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--pov_p2t3_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--sdg_0552_ocu_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_fagr_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_3elu_sex_age_geo_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--mst_xwap_sex_mig_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_mcfw_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_tune_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_2srv_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_edin_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_2ees_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--inj_tlpi_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--une_tune_sex_eco_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--pov_plt1_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--pov_demm_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_tune_sex_age_dur_dt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--soc_nphc_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--ear_4mth_sex_ocu_cur_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eap_teap_sex_dsb_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--pop_2pop_geo_nb--by--ref_area--classif1--time.csv
ddf--datapoints--ifl_4iem_sex_eco_ifl_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--une_2une_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--eip_2eip_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_2urw_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--soc_egge_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--pop_xwap_sex_age_edu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ilr_cbct_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_2eap_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--tru_demp_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--ees_lt30_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--soc_ceat_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--soc_pext_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--ear_ggap_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_3emp_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--mst_tpop_sex_mig_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_tune_sex_ocu_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_2yep_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--pse_tpse_gov_nb--by--ref_area--classif1--time.csv
ddf--datapoints--pop_3wap_sex_age_edu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ear_4mpm_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--soc_ebew_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--ear_ggap_ocu_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eip_wdis_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--how_temp_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--emp_2cfw_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_2mep_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--inj_days_eco_nb--by--ref_area--classif1--time.csv
ddf--datapoints--emp_xfmg_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--tru_ttru_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--pop_3wap_sex_age_lms_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ees_xtmp_sex_rt--by--ref_area--sex--time.csv
ddf--datapoints--ees_mg48_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eip_3dis_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--gdp_211p_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--inj_fatl_eco_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_2emp_sex_ocu_dt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_temp_sex_eco_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--pop_xwap_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_3elu_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--une_tune_sex_age_dur_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_dwaf_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eap_dyap_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--soc_hcov_geo_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_3emp_sex_age_how_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--soc_soct_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_2emp_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--inj_nftl_sex_mig_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_deap_sex_dsb_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--eap_teap_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--tru_demf_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--mst_temp_eco_mig_nb--by--ref_area--classif1--classif2--time.csv
ddf--datapoints--emp_find_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--str_days_eco_nb--by--ref_area--classif1--time.csv
ddf--datapoints--eap_dyaf_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_foaw_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_3emp_sex_age_stu_nb--by--ref_area--sex--classif1--classif2--time.csv

ddf--datapoints--emp_temp_eco_ocu_nb--by--ref_area--classif1--classif2--time.csv
ddf--datapoints--emp_dwap_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--ifl_4iem_sex_eco_ifl_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--tru_demp_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_2emp_sex_eco_dt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_toaw_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_temp_sex_ocu_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_tind_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--soc_wbet_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_temp_sex_how_dt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_temp_sex_age_edu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--cpi_acpi_coi_rt--by--ref_area--classif1--time.csv
ddf--datapoints--soc_cgfr_geo_rt--by--ref_area--classif1--time.csv
ddf--datapoints--ear_xtlp_sex_rt--by--ref_area--sex--time.csv
ddf--datapoints--str_tstr_eco_nb--by--ref_area--classif1--time.csv
ddf--datapoints--pop_2tlf_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--ear_xees_sex_ocu_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--how_temp_sex_eco_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--eip_3wap_sex_age_edu_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eap_3wap_sex_age_stu_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eip_3eip_sex_age_stu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_2wap_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--sdg_b831_sex_rt--by--ref_area--sex--time.csv
ddf--datapoints--soc_oope_geo_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_3wap_sex_age_edu_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ees_tees_sex_eco_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--ear_mear_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--mst_xwap_sex_edu_mig_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--pov_demf_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eip_tnee_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_3wap_sex_age_stu_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_3emp_sex_age_ste_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--pop_2ldr_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_temp_sex_eco2_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--sdg_0871_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_3une_sex_age_edu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ear_4mpt_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--sdg_a831_sex_rt--by--ref_area--sex--time.csv
ddf--datapoints--une_deap_sex_age_edu_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eip_fnee_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--pov_demp_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eip_neet_sex_nb--by--ref_area--sex--time.csv
ddf--datapoints--emp_feer_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--ilr_tumt_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--how_temp_sex_ocu_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_3eap_sex_age_edu_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ear_xees_sex_eco_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_teer_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eap_teap_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--ees_tees_sex_ocu_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_edbs_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--mst_teap_sex_age_mig_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_temp_sex_ins_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--soc_ppen_sex_geo_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--sdg_0131_sex_soc_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_2emp_sex_ste_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--pop_3wap_sex_age_stu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--cpi_nwgt_coi_dt--by--ref_area--classif1--time.csv
ddf--datapoints--eap_2wap_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--lai_vdin_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--lai_vist_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--une_deaf_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--mst_tpop_cou_nb--by--ref_area--classif1--time.csv
ddf--datapoints--sdg_0821_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--pop_2mlf_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eap_teap_sex_age_edu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--soc_ceap_sex_rt--by--ref_area--sex--time.csv
ddf--datapoints--une_tune_sex_age_edu_dt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eap_dwap_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_deap_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eap_2waf_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--ear_4hpw_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--sdg_f881_sex_mig_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--ifl_xiem_sex_eco_ifl_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ees_tnag_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--sdg_0871_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_temp_sex_ste_dt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--inj_nftl_sex_inj_mig_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--inj_nftl_inj_eco_nb--by--ref_area--classif1--classif2--time.csv
ddf--datapoints--ees_fnag_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--pop_2pop_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_temp_sex_dsb_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_2eer_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--sdg_0861_sex_rt--by--ref_area--sex--time.csv
ddf--datapoints--emp_2emp_sex_age_cla_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--inj_nftl_eco_nb--by--ref_area--classif1--time.csv
ddf--datapoints--emp_temp_sex_ocu2_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--cpi_ncyr_coi_rt--by--ref_area--classif1--time.csv
ddf--datapoints--sdg_0922_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_tcfw_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_edad_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--mfl_temp_eco_nb--by--ref_area--classif1--time.csv
ddf--datapoints--ear_4hpm_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--mfl_xwap_sex_edu_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--how_xees_sex_eco_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--lai_insp_sex_nb--by--ref_area--sex--time.csv
ddf--datapoints--emp_fcfw_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--mfl_temp_ocu_nb--by--ref_area--classif1--time.csv
ddf--datapoints--une_3eap_sex_age_geo_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ear_inee_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--une_3une_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--une_deap_sex_age_geo_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--une_dyam_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--soc_cwat_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--pov_p3t5_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eap_2wap_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--lac_4hrl_eco_cur_nb--by--ref_area--classif1--classif2--time.csv
ddf--datapoints--inj_nftl_sex_mig_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--eap_3eap_sex_age_stu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_3wap_sex_age_geo_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eap_dwap_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--how_xees_sex_ocu_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--str_days_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--soc_hexu_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--sdg_0851_sex_ocu_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--sdg_0852_sex_dsb_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--soc_eben_age_rt--by--ref_area--classif1--time.csv
ddf--datapoints--pop_aeda_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--mst_memp_cou_nb--by--ref_area--classif1--time.csv
ddf--datapoints--eip_3wap_sex_age_geo_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_2oaw_noc_rt--by--ref_area--classif1--time.csv

ddf--datapoints--une_tune_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--soc_ceap_sex_geo_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_2ind_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eip_3eet_sex_age_geo_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eap_dwaf_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_2eap_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eip_teip_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_temp_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--mfl_tpop_sex_cou_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--soc_pspe_exp_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_dwap_sex_age_geo_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--lai_wopl_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--emp_pter_sex_rt--by--ref_area--sex--time.csv
ddf--datapoints--emp_2emp_sex_eco_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_temp_sex_ocu_dt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--soc_ppen_sex_typ_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_3eap_sex_age_stu_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--mna_oemp_sex_cou_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--ees_tg48_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_temp_sex_how_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_2agr_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--ees_fg48_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--mna_oemp_sex_edu_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--soc_ebeo_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--lac_4hpt_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--ear_hees_sex_ocu_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_fsrv_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--soc_hexr_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_2yap_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--ear_4hrl_sex_ocu_cur_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--str_days_eco_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_tsrv_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--mna_opop_sex_cou_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_3une_sex_age_stu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--soc_wben_gsa_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_3une_sex_age_dur_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_2emp_sex_ocu_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--emp_temp_sex_eco_dt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--eip_3eet_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eap_3wap_sex_age_edu_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eip_3wap_sex_age_stu_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eap_2wam_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_3wap_sex_age_stu_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--mst_temp_sex_age_mig_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_moaw_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eip_3eip_sex_age_edu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eap_3eap_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_temp_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--ear_mree_noc_gr--by--ref_area--classif1--time.csv
ddf--datapoints--pop_2pop_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--sdg_n881_sex_mig_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--lai_inde_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_deam_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_2wap_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--mst_earb_sex_mig_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--eap_dwap_sex_age_edu_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_3emp_sex_age_job_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--soc_hcov_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_2wep_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--ear_4mmn_cur_nb--by--ref_area--classif1--time.csv
ddf--datapoints--lac_xmfg_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--inj_fatl_eco_nb--by--ref_area--classif1--time.csv
ddf--datapoints--emp_3emp_sex_age_edu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--soc_cghp_geo_rt--by--ref_area--classif1--time.csv
ddf--datapoints--soc_ebec_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--pop_3wap_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--eap_dwam_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eap_2mdn_sex_nb--by--ref_area--sex--time.csv
ddf--datapoints--emp_2emp_sex_age_cla_dt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ifl_xiem_sex_eco_ifl_rt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--luu_xlu2_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--pop_xwap_sex_age_geo_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--ear_4hpt_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--eip_neet_sex_rt--by--ref_area--sex--time.csv
ddf--datapoints--lac_tlac_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--lac_xees_eco_nb--by--ref_area--classif1--time.csv
ddf--datapoints--une_lgtd_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--mna_oemp_ocu_nb--by--ref_area--classif1--time.csv
ddf--datapoints--eap_2eap_sex_age_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--soc_hexp_ins_rt--by--ref_area--classif1--time.csv
ddf--datapoints--luu_xlu3_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--ear_xmfg_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--mna_tpop_sex_cou_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--ear_4mnp_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--eap_teap_sex_age_edu_dt--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--mst_eara_sex_mig_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_tune_sex_age_edu_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--emp_meer_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--inj_fatl_sex_mig_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--soc_mmpb_geo_rt--by--ref_area--classif1--time.csv
ddf--datapoints--pop_2flf_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--mna_oemp_eco_nb--by--ref_area--classif1--time.csv
ddf--datapoints--une_tune_sex_dsb_nb--by--ref_area--sex--classif1--time.csv
ddf--datapoints--une_dyaf_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--eip_2wap_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--ear_tear_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--soc_ppnt_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--une_3une_sex_age_cat_nb--by--ref_area--sex--classif1--classif2--time.csv
ddf--datapoints--sdg_0852_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--eip_mnee_noc_rt--by--ref_area--classif1--time.csv
ddf--datapoints--emp_dwap_sex_age_rt--by--ref_area--sex--classif1--time.csv
ddf--datapoints--ear_fear_noc_nb--by--ref_area--classif1--time.csv
ddf--datapoints--une_dyap_noc_rt--by--ref_area--classif1--time.csv